body{
  background-color: black;
}
#contenedor{/*selector id="contenedor"*/
  background: #8cb27c;
  display: inline-block;
  width: 79%;
  height: 570px;
  margin: 5% 10%;
}
.cancha {
  background: #8cb27c;
  width: 95%;
  height: 91%;
  margin: 2% 2%;
  border: 5px solid white;
}
.arco{
  background-color: #8cb27c;
  position: absolute;/*posicionamiento no toma como el elemento contenedor <div>, sino la ventana del navegador */
}
.Izquierdo{/*selector tipo clase */
  height: 40%;
  width: 8%;
  left: 12%;
  top: 40%;
  border: 5px solid white;
}

.Derecho{/*selector tipo clase */
  height: 40%;
  border: 5px solid white;
  width: 8%;
  right: 13.1%;
  top: 40%
}

.circulo{
    border: 3px solid white; /*Lo dibujamos*/
    width: 15%;
    height: 35%;
    display: inline-block; /*Lo convertimos para que no ocupe todo el ancho*/
    border-radius: 100%; /*convertimos en círculo*/
    position: absolute; /*position nos permite llamar al top*/
    top: 40%; /*se le da un tamaño de 100 para situarlo en el medio*/
    right: 42%;
}

.pelota{
  width: 25px;
	height: 25px;
  background-color: white;
	border-radius: 100%;
	position: absolute;
  border: 0.5px solid grey;
}
.pelotaUno{
	left: 20%;
	top:41%;
}
.pelotaDos{
	left: 50%;
	top: 30%;
}
.pelotaTres{
	right: 22%;
	bottom: 20%;
}
